<div class="flex flex-col h-screen items-center justify-center ">

  <div class="max-w-lg p-6 border border-gray-300 rounded-lg shadow-md">
    <h1 class="text-lg font-bold mb-4">Registro de Empresa</h1>
  
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <!-- Razón social -->
      <div class="mb-3">
        <label class="font-semibold">Razón social:</label>
        <input
          [ngClass]="(esCampoVacio('razonSocial') || esCampoInvalido('razonSocial')) ? 'border-2 border-red-500 ' : ''"
          type="text" formControlName="razonSocial" class="border p-1 rounded-md w-full outline-none ">
        <small *ngIf="esCampoVacio('razonSocial')" class="text-red-500">
          Campo requerido
        </small>
        <small *ngIf="esCampoInvalido('razonSocial')" class="text-red-500">
          El formato de la razón social es inválido.
        </small>
      </div>
  
      <div class="flex justify-between items-start">
  
        <!-- RFC -->
        <div class="mb-3 max-w-[45%]">
          <label class="font-semibold">RFC:</label>
          <input [ngClass]="(esCampoVacio('rfc') || esCampoInvalido('rfc')) ? 'border-2 border-red-500 outline-hidden' : ''" type="text"
            formControlName="rfc" class="border p-1 rounded-md w-full outline-none ">
          <small *ngIf="esCampoVacio('rfc')" class="text-red-500">
            Campo requerido
          </small>
          <small *ngIf="esCampoInvalido('rfc')" class="text-red-500">
            RFC inválido. Debe tener 13 caracteres alfanuméricos.
          </small>
        </div>
  
        <!-- Teléfono -->
        <div class="mb-3 ml-2 max-w-[45%]">
          <label class="font-semibold">Teléfono:</label>
          <input [ngClass]="(esCampoVacio('telefono') || esCampoInvalido('telefono')) ? 'border-2 border-red-500' : ''"
            type="text" formControlName="telefono" class="border p-1 rounded-md w-full outline-hidden">
          <small *ngIf="esCampoVacio('telefono')" class="text-red-500">
            Campo requerido
          </small>
          <small *ngIf="esCampoInvalido('telefono')" class="text-red-500">
            El teléfono debe tener 10 dígitos y no debe contener letras
          </small>
        </div>
        
  
      </div>
  
      <!-- Contacto -->
      <div class="mb-3">
        <label class="font-semibold">Contacto:</label>
        <input [ngClass]="(esCampoVacio('contacto') || esCampoInvalido('contacto')) ? 'border-2 border-red-500' : ''"
          type="text" formControlName="contacto" class="border p-1 rounded-md w-full outline-hidden">
        <small *ngIf="esCampoVacio('contacto')" class="text-red-500">
          Campo requerido
        </small>
        <small *ngIf="esCampoInvalido('contacto')" class="text-red-500">
          Formato inválido
        </small>
      </div>
  
      <!-- Correo -->
      <div class="mb-3">
        <label class="font-semibold">Correo:</label>
        <input [ngClass]="(esCampoVacio('correo') || esCampoInvalido('correo')) ? 'border-2 border-red-500' : ''"
          type="email" formControlName="correo" class="border p-1 rounded-md w-full outline-hidden">
        <small *ngIf="esCampoVacio('correo')" class="text-red-500">
          Campo requerido
        </small>
        <small *ngIf="esCampoInvalido('correo')" class="text-red-500">
          Ingrese un correo válido.
        </small>
      </div>
  
  
  
      <button [disabled]="!formulario.valid" [ngClass]="!formulario.valid ? 'bg-gray-300' : 'bg-blue-500'" type="submit"
        class="bg-blue-700 text-white px-4 py-2 rounded-md transition duration-200">
        Enviar
      </button>
  
  
  
    </form>
  </div>
</div>